In [1]:
import pandas as pd
import sys
import os
import importlib

# 1. Configurar la ruta
ruta_src = os.path.abspath('../src')

# Verificamos si la ruta existe antes de añadirla
if os.path.exists(ruta_src):
    sys.path.append(ruta_src)
    print(f" Ruta añadida correctamente: {ruta_src}")
else:
    print(f"CUIDADO: No encuentro la carpeta en {ruta_src}")

# 2. Importar el archivo soporte
import soporte 

# 3. Forzar la recarga
importlib.reload(soporte)

# 4. Traer las funciones 
try:
    from soporte import (
        # Funciones Metacritic
        filtrar_y_renombrar_columnas, 
        normalizar_textos_y_fechas, 
        estandarizar_puntuaciones, 
        unificar_juegos_duplicados,
        # Funciones Ventas
        limpiar_estructura_ventas,
        agrupar_ventas,
        round_sales_columns
    )
    print("Funciones importadas correctamente.")
except ImportError as e:
    print(" ERROR")
    
    print(f"Detalle del error: {e}")


if 'filtrar_y_renombrar_columnas' in locals():
    
    try:
        df_games = pd.read_csv('../data/raw/games.csv')
        print(" CSV Cargado.")
    except:
        print(" Error cargando CSV.")

    print(" INICIANDO PIPELINE.")
    
    # Pipeline Metacritic
    df_1 = filtrar_y_renombrar_columnas(df_games)
    df_2 = normalizar_textos_y_fechas(df_1)
    df_3 = estandarizar_puntuaciones(df_2)
    df_meta_final = unificar_juegos_duplicados(df_3)

    # Resultado
    print(f"\nLIMPIEZA FINALIZADA ({df_meta_final.shape[0]})")
    display(df_meta_final.head())


if 'limpiar_estructura_ventas' in locals():
    try:
        df_sales_raw = pd.read_csv('../data/raw/vgchartz-2024.csv')  
        print ('CSV Cargado')

        print(" INICIANDO PIPELINE.")
    # Pipeline Ventas
        df_s1 = limpiar_estructura_ventas(df_sales_raw)
        df_s2 = agrupar_ventas(df_s1)
        df_sales_final = round_sales_columns(df_s2, 2)

        print("Limpieza de ventas ")
         # Resultado
        print(f"\nLIMPIEZA FINALIZADA ({df_sales_final.shape[0]})")
        display(df_sales_final.head())

    except:
        print(f" Error cargando CSV")

from sqlalchemy import create_engine



import getpass 
from sqlalchemy import create_engine

# CREDENCIALES
password = getpass.getpass(" Introduce tu contraseña de MySQL: ")
db_name = "videogames" 

#  CONEXIÓN 
connection_string = f'mysql+pymysql://root:{password}@localhost:3306/{db_name}'
engine = create_engine(connection_string)

print(f"Conectando a '{db_name}'...")

try:
    # SUBIR TABLAS
    
    # Tabla Metacritic
    if 'df_meta_final' in locals():
        df_meta_final.drop_duplicates(subset='title', inplace=True)
        df_meta_final.to_sql(name='metacritic', 
                             con=engine, 
                             if_exists='replace', 
                             index=False)
       
        print(" Tabla 'metacritic' subida correctamente.")

    # Tabla Ventas
    if 'df_sales_final' in locals():
        df_sales_final.drop_duplicates(subset='title', inplace=True)
        df_sales_final.to_sql(name='sales', 
                              con=engine, 
                              if_exists='replace', 
                              index=False)
        print(" Tabla 'sales' subida correctamente.")

    print("\n PROCESO TERMINADO") 

except Exception as e: 
    print(f"\n ERROR SQL: {e}")
    print(f"CREATE DATABASE {db_name};")

 Ruta añadida correctamente: c:\Users\eliom\Desktop\Data_Analytics_Bootcamp\sql-database\src
Funciones importadas correctamente.
 CSV Cargado.
 INICIANDO PIPELINE.
 1. Seleccionando columnas útiles y renombrando para SQL
 2. Limpiando títulos y corrigiendo formato de fechas
 3. Convirtiendo scores a números y ajustando escala (0-100)
 4. Fusionando juegos duplicados y calculando media de notas

LIMPIEZA FINALIZADA (13434)

,title,meta_score,user_score,genre,release_date
0,0 day attack on earth,41.0,59.0,Third Person Shooter,2009-12-23
1,007 legends,45.0,45.0,FPS,2012-10-16
2,007 nightfire,78.0,81.0,FPS,2002-11-18
3,007 quantum of solace,65.0,68.0,FPS,2008-11-04
4,007 quantum of solace nintendo ds,65.0,0.0,Action Adventure,2008-11-04

CSV Cargado
 INICIANDO PIPELINE.
 1. Estructurando tabla de ventas...
 2. Agrupando y calculando regiones...
 3. Redondeando columnas de ventas...
Limpieza de ventas

LIMPIEZA FINALIZADA (39798)

,title,total_sales,na_sales,jp_sales,pal_sales,other_sales,genre,sales_non_japan
13724,Grand Theft Auto V,64.29,26.19,1.66,28.14,8.32,Action,62.65
5266,Call of Duty: Black Ops,30.99,17.65,0.59,9.45,3.31,Shooter,30.41
5281,Call of Duty: Modern Warfare 3,30.71,15.57,0.62,11.26,3.26,Shooter,30.09
5273,Call of Duty: Black Ops II,29.59,14.12,0.72,11.08,3.67,Shooter,28.87
5277,Call of Duty: Ghosts,28.80,15.06,0.49,9.60,3.65,Shooter,28.31

Conectando a 'videogames'...

 ERROR SQL: 'Engine' object has no attribute 'cursor'
CREATE DATABASE videogames;

C:\Users\eliom\AppData\Local\Temp\ipykernel_8740\1961961596.py:105: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_meta_final.to_sql(name='metacritic',